<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accp.dao.ITblLogDao">

	<insert id="saveTblLog">
		INSERT INTO Tbl_log(logdes,logdate)
		VALUES(#{log.logDes},current_date());
	</insert>

</mapper>